/*------------------------------------------------------CSS Reset---------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
}


/*------------------------------------------------------CSS Variables---------------------------------------------------- */
:root {
  --Primary-Font-Family: 'Lato', sans-serif;
  --Primary-Background-Color: #F8F8F8;
  --primary-color: #5F46E3;
  --second-primary-color: #fff;
  --ChaptePageButtons-color: #333A47;
  --error-color: #CC2C2C;
  --text-color: #0D1015;
  --SubjectIndexTab-color: #060D21;
  --Form-heading1: #0D1015;
  --Form-heading2: #0D1015;
  --Form-heading3: #333A47;
  --green-color: #008445;
  --green-background-color: #D9F6E8;


  --warning-font-color: #CC2C2C;

  --Form-heading-font-size: 32px;
  --Form-heading1-font-size: 24px;
  --Form-heading2-font-size: 16px;
  --Form-heading3-font-size: 14px;
  --Form-heading4-font-size: 12px;
  --Form-heading5-font-size: 18px;
}


/*------------------------------------------------------CSS main Tags---------------------------------------------------- */
body {
  font-family: var(--Primary-Font-Family);
  background-color: var(--Primary-Background-Color);
  height: 100%;
  width: 100%;
  user-select: none;
}

img {
  user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

/*-------------------------------------------------------Grid Template------------------------------------------------*/
.grid-container {
  display: grid;
  grid-template: 'side content';
  /* grid-template-columns: auto auto auto auto auto auto auto auto; */
  grid-gap: 10px;
}


/*----------------------------------------------------------Login-----------------------------------------------------*/
.login {
  background-color: var(--second-primary-color);
  display: grid;
  grid-template: 'side content';
  grid-template-columns: 50% 50%;

}

.login-caursal {
  width: 50vw;
  /* height: 100vh; */
  grid-area: side;
}

.login-info {
  /* width: 50vw; */
  /* height: 100vh; */
  grid-area: content;
  margin: 10%;
}

.Form {
  margin-left: 12%;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Form-button {
  width: 313.844px;
  height: 4%;
}

.Form-heading1 {
  font-family: Lato;
  font-size: var(--Form-heading1-font-size);
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--Form-heading1);
}

.Form-heading2 {
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--Form-heading3);
}

.Form-heading3 {
  font-family: Lato;
  font-size: var(--Form-heading3-font-size);
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--Form-heading3);
}

.Form-heading4 {
  font-family: Lato;
  font-size: var(--Form-heading4-font-size);
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--Form-heading3);
}

.Form-phone {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Form-text-input {
  height: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Form-input {
  height: 44%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Form-text {
  height: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Form-but {
  width: 354.844px;
}

/*----------------------------------------------------OTP-Box--------------------------------------------------- */

.Otp_Box {
  border: 0px solid var(--primary-color);
  background-color: var(--Primary-Background-Color);
  border-radius: 7px;
  flex: 1 1;
  aspect-ratio: 1;
  margin: 5%;
  margin-left: 0%;
}

.Otp_Box:focus {
  background-color: var(--Primary-Background-Color);
  border: 2px solid var(--primary-color);
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.otp-links {
  text-decoration-line: underline;
  text-decoration-style: solid;
  cursor: pointer;
}

.otp-form-class {
  justify-content: space-around;
  height: 72%;
}


/*----------------------------------------------------Name--------------------------------------------------- */
.Name-heading3 {
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--Form-heading3);
}

.Name-Button {
  width: 274px;
  height: 3%;
}

/*---------------------------------------------------- Attempt-Year --------------------------------------------------- */
.Year-heading {
  font-family: Lato;
  font-size: var(--Form-heading-font-size);
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--Form-heading1);
}

.Form-lottie {
  margin-top: -10%;
  width: 20vw;
  height: 34vh;
}

.Year-Button {
  width: 150px;
  height: 64px;
  top: 380px;
  left: 20px;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
}

.grid-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------------- Exam --------------------------------------------------- */

.Exam-Button {
  width: 150px;
  height: 110px;
  top: 335px;
  left: 20px;
  border-radius: 15px;
}

.Exam-item {
  margin-left: 10%;
}

.Exam-tag_line {
  font-family: Lato;
  font-size: var(--Form-heading4-font-size);
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.Exam-target_name {
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}


/*----------------------------------------------------Home--------------------------------------------------- */
.Home-menu {}

.Home-item-style {
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--Form-heading2);

}

.Home-menu-item {
  position: relative;
  margin-top: 40px;
}

.menu-item {
  display: flex;
  width: 260px;
  height: 48px;
  padding: 0px 0px 0px 20px;
  align-items: center;
}

.menu-item-active {
  background-color: var(--Primary-Background-Color);
  color: var(--primary-color);
  border-radius: 0px 32px 32px 0px;
}

.item-active-color {
  color: var(--primary-color);
}

.item-color {
  color: var(--Form-heading3);
}

.active-item {
  position: relative;
  background-color: var(--primary-color);
  z-index: 1;
  width: 4px;
  margin-right: 20px;
  margin-left: -20px;
  height: 100%;
}


.Home-NavBar>.menu {
  display: none;
}

.Home-content {}

.Home-NavBar {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 4px 4px 0px rgba(51, 58, 71, 0.04);
}

/* .Home-content, */
.Home-menu,
.Home-NavBar {
  background-color: var(--second-primary-color);
}


.Home-NavBar-Menu {
  display: none;
  /* transform: scaleX(-1) */
}

.Home-Name {
  color: var(--Form-heading2);
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.Home-Name-subtitle {
  font-family: Lato;
  font-size: var(--Form-heading3-font-size);
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--Form-heading3)
}

.Home-NavBar-Name {
  color: var(--ChaptePageButtons-color);
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*------------------------------ HomeSubjectButtons ---------------------------- */

.common-margin {
  margin-left: 20px;
  margin-top: 20px;
}

.Home-Name-Part {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HomeSubjectButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Subject-Button {
  width: 150px;
  height: 135px;
  border-radius: 16px;

  background-color: rgb(229, 248, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2% 0%;
}

.Subject-Button-img {
  width: 38.33px;
  height: 38.33px;
}

.subject-button-padding {
  padding-left: 10%;
}

.subject-button-progress {
  color: var(--Form-heading2);
  font-family: Lato;
  font-size: var(--Form-heading4-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Progress-bar {
  position: relative;
  width: 118px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 60px;
  background: rgba(13, 16, 21, 0.08);
}

.Progress-bar-percentage {
  position: relative;
  height: 100%;
}

.Content-Scroll {
  display: flex;
  overflow-x: auto;
}

/*------------------------------ Home-Know Your Faculity ---------------------------- */
.Faculity-img {
  width: 170px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 10px;
}

/*----------------------------------------------------My-Account--------------------------------------------------- */
.My-Account-Name {
  color: var(--Form-heading1);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.My-Account-Number {
  color: var(--Form-heading1);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.My-Account-But {
  display: flex;
  color: var(--primary-color);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
}

.MyAccountContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .My-Account-Card {
      background-color: var(--second-primary-color);
  } */

.Card-Style {
  margin-top: 2%;
  height: 35vh;
  width: 100%;
  background-color: var(--second-primary-color);
  overflow-y: auto;
}

.Inner-Card-style {
  display: flex;
  background-color: var(--Primary-Background-Color);
  margin-left: 20px;
  /* margin-top: 20px; */
  padding-left: 4%;
  height: 100px;
  width: 200px;
  border-radius: 16px;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.Inner-Card-Text {
  margin-left: 20px;
  /* margin-top: 20px; */
  padding: 2% 0%;
  display: flex;
  align-items: center;

  color: var(--ChaptePageButtons-color);
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Enrolled {
  color: var(--green-color);
  border-radius: 80px;
  background: var(--green-background-color);
  font-family: Lato;
  font-size: var(--Form-heading4-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1% 5%;
}

/* .Card-title {
  color: var(--ChaptePageButtons-color);
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
} */

.Log-out {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--error-color);
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.Logout-height {
  height: 8vh;
}

/*------------------------------ SelectionCarousal ---------------------------- */

.SelectionCarousal {
  width: 320px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 12px;
  margin-right: 10%;
}

/*---------------------------------------------- Subject --------------------------------------------- */
.Subject-Menu {
  position: relative;
  overflow-y: auto;
  margin-top: 8%;
  height: 84vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}



.Chapter-Name {
  color: var(--Form-heading2);
  font-family: Lato;
  font-size: var(--Form-heading5-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Subject-subtitle {
  color: var(--ChaptePageButtons-color);
  font-family: Lato;
  font-size: var(--Form-heading4-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Lecture-name {
  color: var(--Form-heading2);
  font-family: Lato;
  font-size: var(--Form-heading3-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.Lecture-names {
  color: var(--Form-heading1);
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-style: normal;
  font-weight: 400;
}

.Subject-Name {
  color: var(--Form-heading2);
  font-size: 24px;
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Subject-img {
  width: 208px;
  height: 108px;
  flex-shrink: 0;
  border-radius: 8px;
}

.Subject-img-time-box {
  border-radius: 4px;
  background-color: rgba(13, 16, 21, 0.66);
  padding: 2%;
}

.Subject-img-time {
  color: var(--second-primary-color);
  ;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Floating-Subject-Menu-But {
  width: 114px;
  height: 48px;
  flex-shrink: 0;
  background: var(--Form-heading1);
}

.Floating-class {
  position: fixed;
  bottom: 24px;
  right: 50%;
  transform: translateX(50%);
  z-index: 3;
  border-radius: 140px;
}

.Floating-Subject-Menu-Content {
  width: 314px;
  height: 433px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: var(--second-primary-color);
}

.Floating-Subject-Menu-Text {
  color: var(--second-primary-color);
  font-family: Lato;
  font-size: var(--Form-heading2-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-2 {
  position: fixed;
  width: 100vw;
  height: 110vh;
  margin-top: -7%;
  z-index: 2;
  background: #0D10156E;
}

.IsPhoneAndTab {
  display: none;
}

/*----------------------------------------------------Utility--------------------------------------------------- */

.pseudo-button {
  cursor: pointer;
  /* position: relative; */
  /* overflow: hidden; */
  /* transition: background 400ms; */
}

.overlay1 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* margin-top: -7%; */
  z-index: 4;
  background: #0D10156E;
}

.ripple-secondary {
  position: absolute;
  /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: #F3F3F4;
}


.warning {
  color: var(--error-color);
  display: flex;
  align-items: center;
}

.main-grid-container {
  display: grid;
  grid-template-areas:
    'sidebar content';
  grid-template-columns: 300px auto;
  grid-column-gap: 10px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.menu {
  grid-area: sidebar;
  /* overflow-y: auto;
  height: 100vh; */
}

.content {
  grid-area: content;
}

.main-grid-vertical-container {
  display: grid;
  grid-template-areas:
    'navbar'
    'main-content';
  grid-template-rows: 12% auto;
  /* Use grid-template-rows instead of grid-template-row */
  grid-row-gap: 10px;
  width: 100%;
  height: 81%;
}

.grid-navbar {
  grid-area: navbar;
  z-index: 3;
}

.grid-content {
  grid-area: main-content;
  overflow-y: auto;
  /* width: 100vw; */
  height: 92vh;
}

.company-logo {
  position: relative;
  z-index: 0;
  width: 50%;
  margin-top: 28px;
  margin-left: 20px;
}

.Home-NavBar-Menu-Rotate {
  animation-name: rotate;
  animation-duration: 4s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}


/*----------------------------------Custom ScrollBar Styling -----------------------*/

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  top: -222px;
  left: 477px;
}

/* Track */
::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E6E7E9;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7cbd1;
}

/*---------------------------------------------- Subject --------------------------------------------- */

.Subject-Content {
  height: 88vh;
}


/*---------------------------------------------- PopUp --------------------------------------------- */
.PopUp-modal {
  position: fixed;
  width: 288px;
  height: 228px;
  background-color: white;
  z-index: 5;
  border-radius: 15px;
}

.PopUp-Contanier {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.PopUp-Input-Field {
  border-radius: 8px;
  border: 1px solid #F3F3F4;
  background: linear-gradient(0deg, #F8F8F8 0%, #F8F8F8 100%), #FFF;
  /* background-color: #008445; */
  font-size: var(--Form-heading2-font-size);
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  padding-left: 6px;
}

.PopUp-Input-Field:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

.PopUp-Input-Field-label {
  color: var(--ChaptePageButtons-color);
  font-family: Lato;
  font-size: var(--Form-heading3-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Pop-Box-Second-Contanier {
  height: 86%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.divider {
  background-color: var(--second-primary-color);
  padding-top: 1%;
  margin-bottom: 1%;
}