/*------------------------------------------------------Tab View------------------------------------------------------*/

@media screen and (min-width: 481px) and (max-width: 720px) {
    
    /*------------------------------------------------Login-----------------------------------------------*/
    .login {
        background-color: var(--second-primary-color);
        display: grid;
        grid-template: 'side content';
        grid-template-columns: 0% 100%;
    }
    .login-caursal{
        display: none;
    }

    .login-info {
        width: 84vw;
        height: 100vh;
        grid-area: content;
        margin:0%
    }

    .Form-phone {
        margin: 10% 0% 8% 0%;
    }

/*---------------------------------------------------- Attempt-Year --------------------------------------------------- */
    .Form-lottie {
        margin-top: -12%;
        width: 48vw;
        height: 36vh;
    }
    .Attempt-year-Form{
        height: 80%;
    }

/*----------------------------------------------------Home--------------------------------------------------- */

    .Home-NavBar-Menu{
        display: block;
        transform: scaleX(-1)
    }

    .Home-Menu {
        position: fixed;
        z-index: 1;
        height: 101vh;
        margin-top: -5%;
        background-color: var(--second-primary-color);
        width: 300px;
    }
    /* .main-grid-vertical-container{
        height: 71%;
    } */

    .Home-NavBar>.menu{
        display: block;
    }

/*----------------------------------------------------Subject--------------------------------------------------- */

    .Subject-Content {
        height: 92vh;
    }

    .Subject-Menu {
        margin-top: 0%;
        height: 100%;
    }

    .IsPhoneAndTab{
        display: block;
    }
/*----------------------------------------------------Utility--------------------------------------------------- */
.menu{
    display: none;
}
.main-grid-container {
    grid-template-columns: 0px auto;
    grid-column-gap: 0px;
}

    .main-grid-vertical-container {
        display: grid;
        grid-template-areas:
          'navbar'
          'main-content';
        grid-template-rows: 10% auto; /* Use grid-template-rows instead of grid-template-row */
        grid-row-gap: 0px;
        width: 100%;
        height: 84%;
      }
      
      .grid-navbar {
        grid-area: navbar;
      }
      
      .grid-content {
        grid-area: main-content;
      }
      
      .overlay{
        position: fixed;
        width: 100vw;
        height: 105vh;
        margin-top: -7%;
        z-index: 0;
        background: #0D10156E;
    }

}